<ion-view view-title="Sobre nós">
  <ion-content>
    <div class="wrapper row2">
  <div id="container" class="clear">
    <!-- ####################################################################################################### -->
    <!-- ####################################################################################################### -->
    <!-- ####################################################################################################### -->
    <!-- ####################################################################################################### -->
    <div id="about-us" class="clear">
      <div class="three_fifth first">
        <!-- ####################################################################################################### -->
        <section id="about-intro" class="clear">
          <div class="panorama"><img class="imgholder" src="images/demo/548x250.gif" alt=""></div>
          <p>Praesent imperdiet justo at sem. Nam accumsan dui eget diam.Nulla quis ante eget pede fringilla rutrum. Proin mollis tristique orci. Nam est. Fusce felis nisl, volutpat vel, sollicitudin eu, luctus sit amet, sem.</p>
          <p>Curabitur risus erat, scelerisque sit amet, mollis id, consectetuer eu, neque. Curabitur sodales semper arcu. Sed ullamcorper arcu eu ante. Vestibulum sed lacus. Quisque vitae libero. Sed quis turpis vitae lectus vehicula tincidunt. Aliquam quam mi, rutrum malesuada, consequat vitae, accumsan ut, lacus. Nulla dictum vestibulum lorem.</p>
        </section>
        <!-- ####################################################################################################### -->
        <section id="skillset" class="clear">
          <div class="fl_left first">
            <h2>Vivamuslibero Auguer</h2>
            <p>Lorem ipsum dolor sit amet, consectetaur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad minim veniam.</p>
            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
          <div class="fl_left">
            <h2>Vivamuslibero Auguer</h2>
            <ol>
              <li><a href="#">Aliquam venenatis leo et orci.</a></li>
              <li><a href="#">Vivamus eleifend sollicitudin eros.</a></li>
              <li><a href="#">Maecenas vitae nunc.</a></li>
              <li><a href="#">Ut pretium odio eu nisi.</a></li>
              <li><a href="#">Nam condimentum mi id magna.</a></li>
              <li><a href="#">Pellentesque consectetuer, felis vel.</a></li>
            </ol>
          </div>
        </section>
        <!-- ####################################################################################################### -->
      </div>
      <!-- ####################################################################################################### -->
      <section id="team" class="two_fifth">
        <h2>Vivamuslibero Auguer</h2>
        <ul>
          <li>
            <figure class="clear"><img src="" alt="">
              <figcaption>
                <p class="team_name">Name Goes Here</p>
                <p class="team_title">Job Title Here</p>
                <p class="team_description">Vestassapede et donec ut est liberos sus et eget sed eget. Quisqueta habitur augue magnisl magna phas ellus.</p>
              </figcaption>
            </figure>
          </li>
          <li>
            <figure class="clear"><img src="img/team-member.gif" alt="">
              <figcaption>
                <p class="team_name">Name Goes Here</p>
                <p class="team_title">Job Title Here</p>
                <p class="team_description">Vestassapede et donec ut est liberos sus et eget sed eget. Quisqueta habitur augue magnisl magna phas ellus.</p>
              </figcaption>
            </figure>
          </li>
          <li>
            <figure class="clear"><img src="img/team-member.gif" alt="">
              <figcaption>
                <p class="team_name">Name Goes Here</p>
                <p class="team_title">Job Title Here</p>
                <p class="team_description">Vestassapede et donec ut est liberos sus et eget sed eget. Quisqueta habitur augue magnisl magna phas ellus.</p>
              </figcaption>
            </figure>
          </li>
          <li>
            <figure class="clear"><img src="img/team-member.gif" alt="">
              <figcaption>
                <p class="team_name">Name Goes Here</p>
                <p class="team_title">Job Title Here</p>
                <p class="team_description">Vestassapede et donec ut est liberos sus et eget sed eget. Quisqueta habitur augue magnisl magna phas ellus.</p>
              </figcaption>
            </figure>
          </li>
          <li>
            <figure class="clear"><img src="img/team-member.gif" alt="">
              <figcaption>
                <p class="team_name">Name Goes Here</p>
                <p class="team_title">Job Title Here</p>
                <p class="team_description">Vestassapede et donec ut est liberos sus et eget sed eget. Quisqueta habitur augue magnisl magna phas ellus.</p>
              </figcaption>
            </figure>
          </li>
        </ul>
      </section>
      <!-- ####################################################################################################### -->
    </div>
    <!-- ####################################################################################################### -->
    <!-- ####################################################################################################### -->
    <!-- ####################################################################################################### -->
    <!-- ####################################################################################################### -->
  </div>
</div>
  </ion-content>
</ion-view>
