<ion-view view-title="Sobre nós">
  <ion-content class="pag">
    <div class="wrapper row2">
  <div id="container" class="clear">
    <!-- ####################################################################################################### -->
    <!-- ####################################################################################################### -->
    <!-- ####################################################################################################### -->
    <!-- ####################################################################################################### -->
    <div id="about-us" class="clear">
      <div class="three_fifth first">
        <!-- ####################################################################################################### -->
        <section id="about-intro" class="clear">
          <div class="panorama"><img class="imgholder" src="img/548x250.gif" alt=""></div>
<h2>O projeto</h2>
          <p>O matriculeMe é um sistema 100% projetado e implementado por estudantes de Engenharia de Redes da Universidade de Brasília (UnB) de 08/2016 à 12/2016 durante a disciplina "Projeto Transversal de Redes 1" ministrada pelo docente Flávio Elias de Deus, no papel de tutor</p>
          <p>São ao todo 12 integrantes que se dividiram em grupos: "Banco de Dados", "Servidor", "Desenvolvimento Mobile", "Machine Learning", "Captação de Dados". Sendo que alguns integrantes fizeram migrações entre os grupos durante o projeto.</p>
<h2>A metodologia</h2>
	  <p>Foi adotado o sistema de ensino por metodologia ativa, que é uma concepção educacional na qual os estudantes são os principais agentes do aprendizado, enquanto observados pelo tutor, que é o responsável por estimular o pensamento crítico e a reflexão. Na metodologia ativa as aulas não são expositivas, mas sessões de tutoria nas quais os alunos debatem determinado tema relacionado ao projeto sob os atentos olhares do tutor, sempre pronto para intervir mantendo o foco da discussão nas habilidades e atitudes pré-estabelecidas.</p>
        </section>
        <!-- ####################################################################################################### -->
        <section id="skillset" class="clear">
          <div class="fl_left first">
            
            <p>Sapientia non exspecteretur, si nihil efficeret.</p>
          </div>
      <!-- ####################################################################################################### -->
      <section id="team" class="two_fifth">
        <ul>
          <li>
            <figure class="clear"><img src="" alt="">
              <figcaption>
		<h2>Gerência e Captação de dados</h2>
		<p class="team_description">Atribuições: Responsável pelo contato direto com o tutor durante todo o projeto, bem como o gerênciamento dos líderes das equipes. Responsável por captar os dados do site matriculaweb.ub.br</p>
		<figure class="clear"><img src="img/team-member.gif" alt="">
                <p class="team_name">Nome: Marcos Felipe</p>
		<p class="team_title">Cargo: Gerente de Projetos, Captação de dados</p>
              </figcaption>
            </figure>
	  <h2>Equipe: Servidor</h2>
	<p class="team_description">Atribuições: Projeto e implementação do servidor<br><br>Integrantes:</p>	
	   <li>
            <figcaption>
	      <figure class="clear"><img src="img/team-member.gif" alt="">
                <p class="team_name">Nome: Nicolas Meinen</p>
                  <p class="team_title">Cargo: Líder da equipe do Servidor</p>
                </figcaption>
              </figure>
            </li>
	  <li>
            <figcaption>
	      <figure class="clear"><img src="img/team-member.gif" alt="">
                <p class="team_name">Nome: Claudio Santoro</p>
                  <p class="team_title">Cargo: Integrante da equipe do Servidor</p>
                </figcaption>
              </figure>
            </li>
	  <li>
            <figcaption>
	      <figure class="clear"><img src="img/team-member.gif" alt="">
                <p class="team_name">Nome: Matheus</p>
                  <p class="team_title">Cargo: Integrante da equipe do Servidor</p>
                </figcaption>
              </figure>
            </li>
	  <li>
            <figcaption>
	     <figure class="clear"><img src="img/team-member.gif" alt="">
              <p class="team_name">Nome: Bruno</p>
                <p class="team_title">Cargo: Integrante da equipe do Servidor</p>
              </figcaption>
            </figure>
          </li>	<h2>Equipe: Banco de Dados</h2>
	<p class="team_description">Atribuições: Projeto e implementação do Banco de Dados<br><br>Integrantes:</p>	
	   <li>
            <figcaption>
	      <figure class="clear"><img src="img/team-member.gif" alt="">
                <p class="team_name">Nome: Claudio Santoro</p>
                  <p class="team_title">Cargo: Lider da equipe do Banco de Dados</p>
                </figcaption>
              </figure>
            </li>
	  <li>
            <figcaption>
	      <figure class="clear"><img src="img/team-member.gif" alt="">
                <p class="team_name">Nome: Danilo Gameiro</p>
                  <p class="team_title">Cargo: Integrante da equipe do Banco de Dados</p>
                </figcaption>
              </figure>
            </li>
	  <li>
            <figcaption>
	      <figure class="clear"><img src="img/team-member.gif" alt="">
                <p class="team_name">Nome: Gustavo Gianini</p>
                  <p class="team_title">Cargo: Integrante da equipe do Banco de Dados</p>
                </figcaption>
              </figure>
            </li>	
	  <h2>Equipe: Machine Learning</h2>
	<p class="team_description">Atribuições: Implementação do algoritmo de Machine Learning<br><br>Integrantes:</p>	
	   <li>
            <figcaption>
	      <figure class="clear"><img src="img/team-member.gif" alt="">
                <p class="team_name">Nome: David</p>
                  <p class="team_title">Cargo: Líder da equipe de Machine Learning</p>
                </figcaption>
              </figure>
            </li>
	  <li>
            <figcaption>
	      <figure class="clear"><img src="img/team-member.gif" alt="">
                <p class="team_name">Nome: Alessandra</p>
                  <p class="team_title">Cargo: Integrante da equipe de Machine Learning</p>
                </figcaption>
              </figure>
            </li>
	<h2>Equipe: Desenvolvimento Mobile</h2>
	<p class="team_description">Atribuições: Projeto e implementação do Aplicativo Mobile<br><br>Integrantes:</p>	
	   <li>
            <figcaption>
	      <figure class="clear"><img src="img/team-member.gif" alt="">
                <p class="team_name">Nome: Adonay</p>
                  <p class="team_title">Cargo: Líder da equipe de Desenvolvimento Mobile</p>
                </figcaption>
              </figure>
            </li>
	  <li>
            <figcaption>
	      <figure class="clear"><img src="img/team-member.gif" alt="">
                <p class="team_name">Nome: Danilo Gameiro</p>
                  <p class="team_title">Cargo: Integrante da equipe de Desenvolvimento Mobile</p>
                </figcaption>
              </figure>
            </li>
	  <li>
            <figcaption>
	      <figure class="clear"><img src="img/team-member.gif" alt="">
                <p class="team_name">Nome: Gustavo Gianini</p>
                  <p class="team_title">Cargo: Integrante da equipe de Desenvolvimento Mobile</p>
                </figcaption>
              </figure>
            </li>
	  <li>
            <figcaption>
	      <figure class="clear"><img src="img/team-member.gif" alt="">
                <p class="team_name">Nome: Thiago</p>
                  <p class="team_title">Cargo: Integrante da equipe de Desenvolvimento Mobile</p>
                </figcaption>
              </figure>
            </li>
	  <li>
            <figcaption>
	      <figure class="clear"><img src="img/team-member.gif" alt="">
                <p class="team_name">Nome: Filipe Afonso</p>
                  <p class="team_title">Cargo: Integrante da equipe de Desenvolvimento Mobile</p>
                </figcaption>
              </figure>
            </li>
	  <h2>Agradecimentos</h2>
	    <p>Toda a equipe matriculeMe gostaria de agradecer ao professor/tutor Flávio Elias de Deus pela excelência na realização de suas funções, por todo o apoio e instrução dados e pela paciência diante dos problemas que surgiram.</p>
       
        </ul>
      </section>
      <!-- ####################################################################################################### -->
    </div>
    <!-- ####################################################################################################### -->
    <!-- ####################################################################################################### -->
    <!-- ####################################################################################################### -->
    <!-- ####################################################################################################### -->
  </div>
</div>
  </ion-content>
</ion-view>
