<ion-view view-title="Grade">
  <ion-content class="padding pag">
	  <p>Use a tabela abaixo para montar a sua grade. Uma caixa vazia permitirá pesquisar disciplinas. Clique sobre uma disciplina para obter informações a respeito dela.</p>
	  <div class="row header" style="text-align:center">
	    <div class="col dia"></div>
	    <div class="col dia"><b>Seg</b></div>
	    <div class="col dia"><b>Ter</b></div>
	    <div class="col dia"><b>Qua</b></div>
	    <div class="col dia"><b>Qui</b></div>
	    <div class="col dia"><b>Sex</b></div>
	    <div class="col dia"><b>Sáb</b></div>
	  </div>
	  <div class="row" ng-repeat="tempo in grade">
	    <div class="col"><b>{{$index*2+6}}-{{$index*2+8}}</b></div>
	    <div class="col" ng-click="mostrarOpcoes(dia,$index,grade.indexOf(tempo)*2+6)" ng-repeat="dia in tempo track by $index">{{dia.nomeDisc}} - {{dia.turma.codTurma}}</div>
	  </div>
  </ion-content>
  <ion-footer-bar class="bar-secundary col" style="text-align: center;">
    <button class="button button- button-calm" ng-click="request()">Pedir sugestão</button>
  </ion-footer-bar>
  <script id="pop-up-slot.html" type="text/ng-template">
      <div class="modal">
        <ion-header-bar class="bar-secondary">
          <h1 class="title">
            {{dia}} às {{hora}}:00
          </h1>
        </ion-header-bar>
        <ion-content>
          <h4 class="center">Disciplina: <p>{{swap.nomeDisc}}</p> Turma: <p>{{swap.turma.codTurma}}</p> Professor: <p>{{swap.turma.nomeProf}}</p></h4>
        </ion-content>
        <ion-footer-bar class="bar-secundary">
            <button class="button button-positive" ng-click="irParaTurmas(x)">
              Outras Turmas
            </button>
            <button class="button button-positive margin2" ng-click="retirar(x)">
              Retirar da grade
            </button>
            <button class="button button-positive" ng-click="closePopUp()">
              Fechar
            </button>
        </ion-footer-bar>
      </div>
  </script>
</ion-view>
