<ion-view view-title="Grade">
  <ion-content class="padding">
    <div class="row header" style="text-align:center">
		  <div class="col dia"></div>
          <div class="col dia"><b>Seg</b></div>
          <div class="col dia"><b>Ter</b></div>
          <div class="col dia"><b>Qua</b></div>
          <div class="col dia"><b>Qui</b></div>
          <div class="col dia"><b>Sex</b></div>
		      <div class="col dia"><b>Sáb</b></div>
        </div>
        <div class="row">
      <div class="col"><b>06-08</b></div>
            <div class="col" ng-click="mostrarOpcoes(x,$index,6)" ng-repeat="x in grade[0] track by $index">{{x.nomeDisc}} - {{x.turma.codTurma}}</div>
        </div>
        <div class="row">
		  <div class="col"><b>08-10</b></div>
            <div class="col" ng-click="mostrarOpcoes(x,$index,8)" ng-repeat="x in grade[1] track by $index">{{x.nomeDisc}} - {{x.turma.codTurma}}</div>
        </div>
		<div class="row">
		  <div class="col "><b>10-12</b></div>
		  <div class="col" ng-click="mostrarOpcoes(x,$index,10)" ng-repeat="x in grade[2] track by $index">{{x.nomeDisc}} - {{x.turma.codTurma}}</div>
        </div>
		<div class="row">
		  <div class="col "><b>12-14</b></div>
            <div class="col" ng-click="mostrarOpcoes(x,$index,12)" ng-repeat="x in grade[3] track by $index">{{x.nomeDisc}} - {{x.turma.codTurma}}</div>
		  </div>
		<div class="row">
		  <div class="col "><b>14-16</b></div>
		    <div class="col" ng-click="mostrarOpcoes(x,$index,14)" ng-repeat="x in grade[4] track by $index">{{x.nomeDisc}} - {{x.turma.codTurma}}</div>
        </div>
		<div class="row">
		  <div class="col "><b>16-18</b></div>
            <div class="col" ng-click="mostrarOpcoes(x,$index,16)" ng-repeat="x in grade[5] track by $index">{{x.nomeDisc}} - {{x.turma.codTurma}}</div>
        </div>
		<div class="row">
		  <div class="col "><b>18-20</b></div>
            <div class="col" ng-click="mostrarOpcoes(x,$index,18)" ng-repeat="x in grade[6] track by $index">{{x.nomeDisc}} - {{x.turma.codTurma}}</div>
        </div>
		<div class="row">
		  <div class="col "><b>20-22</b></div>
            <div class="col" ng-click="mostrarOpcoes(x,$index,20)" ng-repeat="x in grade[7] track by $index">{{x.nomeDisc}} - {{x.turma.codTurma}}</div>
        </div>
        <div class="row">
      <div class="col"><b>22-24</b></div>
            <div class="col" ng-click="mostrarOpcoes(x,$index,22)" ng-repeat="x in grade[8] track by $index">{{x.nomeDisc}} - {{x.turma.codTurma}}</div>
        </div>
		<div style="text-align: center;">
            <button class="button button- button-calm" ng-click="request()">pedir sugestão</button>
		<br><br><br><br>
		</div>
  </ion-content>
  <script id="pop-up-slot.html" type="text/ng-template">
      <div class="modal">
        <ion-header-bar class="bar-secondary">
          <h1 class="title">
            {{dia}} às {{hora}}:00
          </h1>
        </ion-header-bar>
        <ion-content>
          <h4 class="center">Disciplina: <p>{{swap.nomeDisc}}</p> Turma: <p>{{swap.turma.codTurma}}</p> Professor: <p>{{swap.turma.nomeProf}}</p></h4>
        </ion-content>
        <ion-footer-bar class="bar-secundary">
            <!-- O botão a seguir deve linkar com a tela 5 (de turmas), passando como parâmetros o que for necessário para acesso às turmas da disciplina selecionada -->
            <button class="button button-positive" ng-click="irParaTurmas(x)">
              Outra Turma
            </button>
            <button class="button button-positive" ng-click="retirar(x)">
              Retirar da grade
            </button>
            <button class="button button-positive" ng-click="closePopUp()">
              Fechar
            </button>
        </ion-footer-bar>
      </div>
  </script>
</ion-view>
