
<ion-view view-title="Turmas da disciplina">
  <ion-content class = "pag">
   <div align="center"><p>Escolha uma turma da disciplina <b>{{disciplina.nomeDisc}}</b> para adicionar à sua grade.</p></div>
  <div class="padding">
	  <div class="row header">
	      <div class="col tamanholetra horas">
	            Turma 
	      </div>
	      <div class="col tamanholetra horas">
	           Horário das aulas
	      </div>
	      <div class="col tamanholetra horas">
	            Nome do professor
	      </div>
	      <div class="col tamanholetra horas">
	            Adicionar à grade
	      </div>
	  </div>
	  <div class="row" ng-repeat="turma in disciplina.turmas">
	    <div class="col gian adonay">
	         <div class="wrapper"> {{turma.codTurma}} </div>
	    </div>
	    <div class="col">
	      <div class="wrapper"><div><p class="tamanholetra" ng-repeat="slot in turma.horario">
	         {{slot.dia}} {{slot.horaIni}}:00 - {{slot.horaFim}}:00
	      </p></div></div>
	    </div>
	    <div class="col tamanholetra" style="vertical-align=middle">
	      
	       <div class="wrapper"> {{turma.nomeProf}}</div>
	    </div>
	    <div class="col">
	      <div class="wrapper"><button class="button button-calm button-dark ion-plus-round" ng-click="addGrade(turma)"></button></div>
	    </div>
	  </div>
  </div>
  </ion-content>
</ion-view>
