<ion-view view-title="Log in" name="login-view">
  <ion-content class="padding">
	 <p style="text-align:center"><img style="text-align:center" src="img/Logomakr_6ZICy2.png"></p>
      <div class="list list-inset">
          <label class="item item-input">
              <input type="text" placeholder="Username" ng-model="data.username">
          </label>
          <label class="item item-input">
              <input type="password" placeholder="Password" ng-model="data.password">
          </label>
      </div>
      <button class="button button-block button-calm" ng-click="login()">Log in</button>
	  <button class="button button-block button-calm" ng-click="signup()">sign up</button>
  </ion-content>
</ion-view>
