<form ua-signup>
  <ion-view title="Cadastro">
    <ion-content>
      <div class="list">
          <p align="center">Seu nome completo:</p>
        <label class="item item-input largura">
          <input type="text" ng-model="data.first_name" placeholder="Nome">
        </label>
          <p align="center"><br>Nome de usuario para login no aplicativo:</p>
        <label class="item item-input largura">
          <input type="text" ng-model="data.login" placeholder="Usuario">
        </label>
          <p align="center"><br>Senha para login no aplicativo:</p>
        <label class="item item-input largura">
          <input type="password" ng-model="data.password" placeholder="senha">
        </label>

         <p align="center"><br>Confirme sua senha:</p>
        <label class="item item-input largura">
          <input type="password" ng-model="data.password2" placeholder="senha">
        </label>
          
          
            <p align="center"><br>
            <input type="checkbox" ng-model="var">Li e aceito os <a href="termosdeuso">Termos de Uso</a> e serviço deste aplicativo.
            </p>
      </div>

      <div class="padding" align="center">
      <button class="button button-positive" ng-click="voltar()">Voltar</button>
      <!--Cria-se a função voltar para retornar para a tela de login -->
        <button class="button button-positive" ng-show="var" ng-click="submit()">
          <span ng-show="!loading">Criar conta</span>
          <i ng-show="loading" class="ion-loading-b"></i>
        </button>
      </div>
    </ion-content>
  </ion-view>
</form>
