
<ion-view view-title="Buscar Disciplinas">
  <ion-content>
    <div>
        <form ng-submit="procurar(busca)">
            <!-- o input e o button deviam estar lado a lado -->
            <div class="list">

                <label class="item item-input largura">

                    <input  type="text" placeholder="Nome ou Código da disciplina." ng-model="busca.title">
                    <button type="submit" class="button button-icon ion-search"></button>
                </label>
            </div>
            
        </form>
    </div>
    <div>
        <ion-item ng-repeat="disciplina in disciplinas | orderBy : 'nomeDisc' ">
            <div class="row">
                <!-- esta div tem que ser mais curta, digamos 20% da tela -->
                <div class="col">
                    <button class="button button-clear button-dark" ng-click="mostrarInfo(disciplina,$index)">
                        {{disciplina.dept}}
                    </button>
                </div>
                <div class="col">
                    <button class="button button-clear button-dark" ng-click="mostrarInfo(disciplina,$index)">
                        {{disciplinas}}
                    </button>
                </div>
                <!-- esta div deve ocupar o restante da tela -->
                <div class="col">
                    <button class="button button-clear button-dark" ng-click="mostrarInfo(disciplina,$index)">
                        {{disciplina.nomeDisc}}
                    </button>
                </div>
            </div>
        </ion-item>
    </div>
  </ion-content>
  <script id="pop-up-info.html" type="text/ng-template">
      <div class="modal">
        <ion-header-bar class="bar-secondary">
          <h1 class="title">{{swap.nomeDisc}} > Info</h1>
        </ion-header-bar>
        <ion-content>
          <h4>Oferecida pelo departamento {{swap.dept}}</h4>
          <h4>Créditos: {{swap.creditos}}</h4>
        </ion-content>
        <ion-footer-bar class="bar-secundary">
            <!-- O botão a seguir deve linkar com a tela 5 (de turmas), passando como parâmetros o que for necessário para acesso às turmas da disciplina selecionada -->
            <button class="button button-positive" ng-click="irParaTurmas(disciplina)">Ver Turmas</button>
            <!-- inserir um espaço entre este e o anterior, centralizando este (?) -->
            <button class="button button-positive" ng-click="addInteresse(disciplina)">Registrar Interesse</button>
            <button class="button button-positive" ng-click="closePopUp()">Fechar</button>
        </ion-footer-bar>
      </div>
  </script>
</ion-view>


