<ion-view view-title="termodeuso">
  <div class ="modal">
  
  
    
 
  		<ion-header-bar>
          <h1 class="title">TERMOS DE USO </h1>
        </ion-header-bar>

<ion-content>
<pre>

Bem-vindo ao MatriculeMe, um aplicativo mobile que lhe sugere uma disposição de horários semestral considerada ideal para você com base em seu histórico escolar, ponderando as dificuldades e facilidades que você teve em determinadas matérias a fim de tentar equilibrar sua grade horária de maneira a maximizar seu rendimento acadêmico. Além disso, caso a sugestão apresente alguma discordância com seus desejos, no caso de, por exemplo, você ter alguma atividade além da universidade, como um estágio ou esporte, ou mesmo discordar de alguma sugestão, damos espaço para que você a manipule de uma maneira prática e intuitiva até que ela se adeque às suas vontades. Dessa forma, aquele tedioso e demorado processo de se matricular no início de todo semestre, abrindo-se várias abas do navegador para pesquisar horários e turmas que não colidam entre si (já que o MatriculaWeb é bem arcaico em relação a isso), terá seu lugar tomado por um processo que lhe tomará poucos minutos, em vez de horas.
Este acordo representa o contrato, como um todo, entre você e o MatriculeMe, e dessa forma, cadastrando-se no nosso aplicativo, você concorda, sem restrições, em aceitar os termos e condições de uso abaixo indicados, uma vez que as disposições constantes do presente Termo de Uso vinculam o usuário do aplicativo móvel MatriculeMe, externam nossa política de privacidade relativo ao uso de informações pessoais, principalmente de cunho acadêmico, e protege o software e a marca, de acordo com as disposições das Leis Federais n. 9.609/98 e 9.279/96.
</pre>


	</ion-content>
		<ion-footer-bar class="bar-secundary">
         
        
          <button class="button button-positive" ng-click="closePopUp()">Fechar</button>
        </ion-footer-bar>
   

    </div>
  
</ion-view>
