<hibernate-configuration>
  <session-factory>
    <property name="hibernate.connection.username">
      root
    </property>
    <property name="hibernate.connection.password">
    123456
    </property>
    <property name="hibernate.connection.url">
      jdbc:mysql://localhost/exampledb
    </property>
    <property name="hibernate.connection.driver_class">
      com.mysql.jdbc.Driver
    </property>
    <property name="hibernate.dialect">
      org.hibernate.dialect.MySQL5InnoDBDialect
    </property>
    <property name="hibernate.connection.provider_class">org.hibernate.c3p0.internal.C3P0ConnectionProvider</property>
 <property name="hibernate.c3p0.min_size">1</property>
 <property name="hibernate.c3p0.max_size">19</property>
 <property name="hibernate.c3p0.timeout">120</property>
 <property name="hibernate.c3p0.max_statements">10</property>
    <property name="hibernate.hbm2ddl.auto">update</property>
    
    <property name="show_sql">true</property>
    <property name="format_sql">true</property>
  </session-factory>
</hibernate-configuration>