---
swagger: '2.0'

################################################################################
#                              API Information                                 #
################################################################################
info:
  version: v1
  title: matriculeMe API
  description: |
    MatriculeMe é uma solução de código fonte aberta para a resolução de diversos problemas do Matricula Web da Universidade de Brasília. O matriculeMe auxilia o estudante através de funcionalidades como geração de grades de horárias a partir de sugestões criadas pelo próprio sistema.
  
    ## Objetivos
      A criação de uma documentação de API do núcleo básico do **matriculeMe**. A API designará as comunicações básicas realizadas pelo sistema com a interface mobile. A API é pública.
    
    ## Segurança
    A proposta de segurança ainda não foi implementada.

################################################################################
#                  Host, Base Path, Schemes and Content Types                  #
################################################################################
host: website:80
basePath: /
schemes:
  - http
produces:
  - application/json
consumes:
  - application/json


################################################################################
#                                   Parameters                                 #
################################################################################
parameters:
  aluno-id:
    name: aluno-id
    description: Id do Aluno
    in: path
    required: true
    type: number
  disciplina-origem:
    name: disciplina-origem
    description: Discplina Origem
    in: path
    required: true
    type: number
################################################################################
#                                           Paths                              #
################################################################################
paths:
  /login/{aluno-id}:
    parameters:
      - $ref: '#/parameters/aluno-id'
    get:
      description: Realizar Login do Usuário
      tags:
        - Login de Usuário
      parameters:
        - name: matricula
          in: query
          required: true
          description: Matrícula do Usuário
          type: number
        - name: password-aplicativo
          in: query
          required: true
          description: Senha do Aplicativo
          type: string
      responses:
        200:
          description: Autenticação com Sucesso
        403:
          description: Senha Incorreta
        404:
          description: Conta Inexistente
    post:
      tags:
        - Adicionar Login de Usuário
      parameters:
        - name: auth
          in: body
          description: A matrícula do usuário e as senhas
          required: true
          schema:
              type: object
              properties:
                matricula:
                  type: string
                  description: Matrícula do Aluno
                password-aplicativo:
                  type: string
                  description: Senha do Aplicativo
                password-matriculaweb:
                  type: string
                  description: Senha do MatriculaWEB
      description: Cadastrar Login do Usuário
      responses:
        200:
          description: Conta Criada com Sucesso
        403:
          description: Matricula já existe na Base de Dados
        404:
          description: Aluno Inexistente
  /aluno/:
    get:
      tags:
        - Informações do Aluno
      parameters:
        - name: matricula
          in: query
          description: O nome de usuário
          type: string
        - name: id
          in: query
          description: O id do usuário
          type: number
      responses:
        200:
          description: Dados da Conta
          schema:
            $ref: '#/definitions/aluno'
    post:
      tags:
        - Adicionar Aluno
      parameters:
        - name: dados
          in: body
          description: Dados do Aluno
          required: true
          schema:
            type: object
            properties:
              nome:
                type: string
                description: Nome do Aluno
              matricula:
                type: number
                description: Número de Matricula
              curso:
                type: number
                description: Id do Curso (FK)
      responses:
        200:
          description: Aluno Cadastrado
        403:
          description: Aluno já cadastrado
  /aluno/{aluno-id}:
    put:
      tags:
        - Atualizar dados do Aluno
      parameters:
        - $ref: '#/parameters/aluno-id'
        - name: matricula
          type: number
          description: Matricula do Aluno
          in: query
        - name: ira
          type: number
          description: IRA do Aluno
          in: query
        - name: semestre-atual
          in: query
          description: Semestre atual do Aluno
          type: number
        - name: curso
          description: Curso do Aluno
          in: query
          type: number
        - name: interesse
          description: Interesse do Aluno
          in: query
          type: string
      responses:
        200:
          description: Aluno Atualizado
        404:
          description: Aluno Inexistente
  /perfil/{aluno-id}:
    parameters:
      - $ref: '#/parameters/aluno-id'
    get:
      description: Dados do Perfil de Alunos
      tags:
        - Dados do Perfil de Alunos
      responses:
        200:
          description: Dados do Perfil
          schema:
            $ref: '#/definitions/perfil'
        404:
          description: Aluno Inexistente
    put:
      description: Atualizar Dados do Perfil de ALunos
      tags:
        - Atualizar Perfil do Aluno
      parameters:
        - name: departamento
          in: query
          type: number
          description: Nome do Departamento
        - name: metrica
          in: query
          type: number
          description: Metrica do Perfil
      responses:
        200:
          description: Perfil do Aluno Cadastrado
        404:
          description: Aluno Inexistente
    post:
      description: Inserção de Perfil
      tags:
        - Inserir Perfil
      parameters:
        - name: dados
          in: body
          description: Dados do Perfil
          required: true
          schema:
            type: object
            properties:
              aluno:
                type: number
                description: Id do Aluno (FK)
              departamento:
                type: number
                description: Id do Departamento (FK)
              metrica:
                type: number
                description: Métrica do Perfil
      responses:
        200:
          description: Perfil Inserido
        403:
          description: Perfil já existe
        404:
          description: Aluno Inexistente
  /historico/:
    get:
      tags:
        - Dados do Histórico
      description:
        Dados Histórico
      parameters:
        - name: id
          in: query
          description: Id do Registro do Histórico
          type: number
        - name: aluno
          in: query
          description: Id do Aluno (FK)
          type: number
        - name: mencao
          in: query
          description: Id da Menção (FK)
          type: number
        - name: oferta
          description: Id da Oferta (FK)
          type: number
          in: query
      responses:
        200:
          description: Dados do Histórico
          schema:
            $ref: '#/definitions/disciplinas_cursadas'
        404:
          description: Histórico não Encontrado
  /oferta/:
    get:
      description: Dados da Oferta
      tags:
        - Dados da Oferta
      parameters:
        - name: id
          in: query
          type: number
          description: Id do Registro de Oferta
        - name: disciplina
          in: query
          type: number
          description: Id da Disciplina (FK)
        - name: semestre
          in: query
          type: number
          description: Id do Semestre (FK)
        - name: vagas
          in: query
          type: number
          description: Número de Vagas (???)
      responses:
        200:
          description: Dados da Oferta
          schema:
            $ref: '#/definitions/oferta'
        404:
          description: Oferta não encontrada
    post:
      description: Inserir Oferta
      tags:
        - Inserir Ofertas
      parameters:
        - name: dados
          in: body
          description: Dados da Oferta
          required: true
          schema:
            type: object
            properties:
              disciplina:
                type: number
                description: Id da Disciplna (FK)
              semestre:
                type: number
                description: Id do Semestre (FK)
      responses:
        200:
          description: Oferta Adicionada
        403:
          description: Permissão Negada
    put:
      tags:
        - Atualizar Oferta
      parameters:
        - name: disciplina
          in: query
          description: Id da Disciplina (FK)
          type: number
        - name: semestre
          in: query
          description: Id do Semestre (FK)
          type: number
      responses:
        200:
          description: Oferta Atualizada.
        400:
          description: Oferta não encontrada.
  /curriculo/:
    get:
      description: 
        Receber Currículo
      tags:
        - Dados Currículo
      parameters:
        - name: disciplina
          in: query
          type: number
          description: Id da Disciplina (FK)
        - name: curso
          in: query
          type: number
          description: Id do Curso (FK)
      responses:
        200:
          description: Dados do Currículo
          schema:
            $ref: '#/definitions/curriculo'
        404:
          description: Currículo não Encontrado
  /requisito/{disciplina-origem}:
    get:
      description:
        Requisitos de Disciplinas
      tags:
        - Requisitos de Disciplinas
      parameters:
        - $ref: '#/parameters/disciplina-origem'
      responses:
        200:
          description: Dados do Currículo
          schema:
            $ref: '#/definitions/requisito'
        404:
          description: Disciplina não encontrada
################################################################################
#                                 Definitions                                  #
################################################################################
definitions:
  curso:
    type: object
    properties:
      id:
        type: number
        description: Id do Registro
      nome:
        type: string
        description: Nome do Curso
      codigo:
        type: number
        description: Código do Curso
      creditos_limite:
        type: number
        description: Limite de Créditos
  aluno:
    type: object
    properties:
      id:
        type: number
        description: Id do Registro
      nome:
        type: string
        description: Nome do Aluno
      matricula:
        type: string
        description: Matrícula do Aluno
      ira:
        type: number
        description: IRA do Aluno
      semestre_atual:
        type: number
        description: Semestre Atual
      curso:
        $ref: '#/definitions/curso'
      interesse:
        type: string
        description: Interesse do Aluno
  perfil:
    type: object
    properties:
      id:
        type: number
        description: Id do Registro
      aluno-id:
        $ref: '#/definitions/aluno'
      departamento:
        $ref: '#/definitions/departamento'
      metrica:
        type: number
        description: Valor da Métrica
  mencao:
    type: object
    properties:
      id:
        type: number
        description: Id do Registro
      aluno:
        $ref: '#/definitions/aluno'
      mencao:
        type: number
        description: Valor da Menção
      oferta:
        type: number
        description: Id da Oferta (FK)
  departamento:
    type: object
    properties:
      id:
        type: number
        description: Id do Registro
      nome:
        type: string
        description: Nome do Departamento
      descricao:
        type: string
        description: Descrição do Departamento
      codigo:
        type: number
        description: Código do Departamento
  disciplinas_cursadas:
    type: object
    properties:
      id:
        type: number
        description: Id do Registro
      aluno:
        $ref: '#/definitions/aluno'
      mencao:
        $ref: '#/definitions/mencao'
      oferta:
        $ref: '#/definitions/oferta'
  oferta:
    type: object
    properties:
      id:
        type: number
        description: Id do Registro
      disciplina:
        $ref: '#/definitions/disciplina'
      semestre:
        type: number
  curriculo:
    type: object
    properties:
      id:
        type: number
        description: Id do Registro
      disciplina:
        $ref: '#/definitions/disciplina'
      curso:
        $ref: '#/definitions/curso'
      semestre-disciplina:
        type: number
        description: Semestre da Disciplina
  disciplina:
    type: object
    properties:
      id:
        type: number
        description: Id do Registro
      nome:
        type: string
        description: Nome da Disciplina
      credito:
        type: number
        description: Quantidade de Créditos
      codigo:
        type: number
        description: Código da Disciplina
      departamento:
        $ref: '#/definitions/departamento'
  requisito:
    type: object
    properties:
      disciplina_origem:
        $ref: '#/definitions/disciplina'
      disciplina_requisito:
        type: string
        description: Disciplinas Requisitadas (1+1)
      tipo:
        type: number
        description: Tipo de Requisito (Co, Pre, Nenhum)
